#attention-getter {
    position: absolute;
    top:0;
    right:1;
    transform:translate(5%,90%);
    text-align: center;
    max-width: 64rem;

    font-size:1.5rem;
    #red-text {
        color: #de0c0c;
    }

}